{% extends "base.hbs" %}
{% block head %}


{% end %}

{% block content %}

<!-- <link href="dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="dist/js/tabulator.min.js"></script> -->
<link href="https://unpkg.com/tabulator-tables@4.9.3/dist/css/tabulator.min.css" rel="stylesheet">
<script type="text/javascript" src="https://unpkg.com/tabulator-tables@4.9.3/dist/js/tabulator.min.js"></script>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-header">
        <h4>Vzdálenost stolu</h4>
      </div>
      <div class="card-body text-center">
          <b><span id="distance_val">---</span></b> cm
      </div>
    </div>
  </div>


    <div class="col">
      <div class="card h-100 door_card">
        <div class="card-header">
          <h4>Dveře místnosti</h4>
        </div>
        <div class="card-body text-center">
            <span id="door_val"><b>Otevřěno/Zavřeno</b></span>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="card-header">
          <h4>Stav zářiče</h4>
        </div>
        <div class="card-body text-center">
            <b>Zavřeno/Zářič A/Zářič B/Pohyb</b>
        </div>
      </div>
    </div>
</div>





<div class="card my-3">
    <div class="card-header">
        Přehled běhů
    </div>
    <div class="card-body">
        <div id="job_table"></div>
        Zde jsou zobrazeny pouze mé běhy. 
    </div>
</div>





<div class="card my-3" id="program_step_card" style="display: none;">
    <div class="card-header">
        Aktuální program: <b><span id="program_name_card">Název programu</span></b>
    </div>
    <div class="card-body">

        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
          <ol class="breadcrumb" id="program_steps_view">
            <li class="breadcrumb-item active">Start</li>
            <li class="breadcrumb-item">... ---- ....</li>
            <li class="breadcrumb-item active">Konec</li>
          </ol>
        </nav>

        <form id="program_step_editor" class="card" style="display: block;">
        {% module xsrf_form_html() %}
          <div class="row g-2">
            <div class="col-auto">
                <label for="exampleInputEmail1" class="form-label col-auto">Operace:</label>
            </div>
            <div class="col-auto">
                <select class="form-control" name="step_operation">
                    <option value = 'close'>Zavřeno</option>
                    <option value = 'sleep'>Pauza</option>
                    <option value = 'PosA'>Zářič A</option>
                    <option value = 'PosB'>Zářič B</option>
                </select>
            </div>
            <div class="col-auto">
                <label for="" class="form-label text-end">Délka:</label>
            </div>
            <div class="col-auto">
                <input type="number" class="form-control" id="step_length", value="50", name="step_duration" id="step_duration">
            </div>
            <div class="col-auto">
                <label for="" class="form-label text-end">Pořadí:</label>
            </div>
            <div class="col-auto">
                <input type="number" class="form-control" id="step_number", name="step_number", value="0", id="step_number">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary">Přidat</button>
            </div>
          </div>
        </form>

        <form id="program_metadata_editor" style="display: block;">
        {% module xsrf_form_html() %}
            <div class="row g-1 align-items-center">

                <div class="col-auto">
                    <label for="" class="form-label">Id: </label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="program_id" disabled>
                </div>
                <div class="col-auto">
                    <label for="" class="form-label">Název:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="program_name">
                </div>
                <div class="col-auto">
                    <label for="" class="form-label">Autor:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="program_author" disabled>

                </div>
                <!-- <div class="col-auto">
                    <label for="" class="form-label">Datum vytvoření:</label>
                </div>
                <div class="col-auto">
                    <input type="text" class="form-control" id="step_length" disabled>
                </div> -->
                <div class="col-auto">
                    <br>
                    <button type="submit" class="btn btn-primary">Uložit</button>
                </div>
            </div>
        </form>

        <button class="btn btn-success" onclick="queue_actual_program()">Přidat program do fronty</button>

    </div>
</div>


<div class="card my-3">
    <div class="card-header d-flex">
        <h5 class="">Programy ozařovny</h5>
        <button class="ms-auto btn btn-primary btn-sm" onclick="NewProgram()">Vytvořit nový program</button>
    </div>
    <div class="card-body">
        <div id="program_table"></div>
            
    </div>
</div>



<div class="card my-3">
    <div class="card-header">
        Přehled měření
    </div>
    <div class="card-body">
        Tady bude tabulka s provedenými měřeními
    </div>
</div>





<script>

var opened_program = null;
var opened_program_data = null;

    function remove_program_step(step){
        $.ajax({
            url: "/controller/remove_program_step/"+opened_program+"/"+step+"/",
            success: function(e){
                load_progam(opened_program);
            }
        });
    }

    function load_progam(id){
        console.log("Load progarm", id);
        $.ajax({
            url: "/controller/get_program/"+id,
            //data: data,
            success: function(e){
                // e = JSON.parse(e);
                console.log(".....", e);
                $("#program_step_card").show();
                console.log("program data", e);
                opened_program = e._id.$oid;
                opened_program_data = e.job;
                console.log("Program Data", opened_program_data);

                // ukazat kroky
                var steps_viewer = $('#program_steps_view');



                load_step = 0;
                duration_total = 0;

                steps_viewer.empty();
                steps_viewer.append("<li class='breadcrumb-item active btn' disabled>Start</li>");
                for(step_i in opened_program_data) if(opened_program_data[step_i]){
                    console.log("krok programu" + step_i, opened_program_data[step_i]);
                    var step = opened_program_data[step_i];
                    steps_viewer.append("<li class='breadcrumb-item btn' onclick='remove_program_step("+step_i+")'>" + step['operation'] + " <small class='text-muted'>(" + step['duration']+ "s)</small></li>");
                    duration_total += Number(step['duration']);
                }
                steps_viewer.append("<li class='breadcrumb-item active btn' disabled>Konec</li>");


                $("#program_id").val(opened_program);
                $('#step_number').val(opened_program_data.length);
                $('#program_name').val(e.name);
                $('#program_name_card').val(e.name);
                $('#program_author').val(e.author_name);

            },
            error: function(e){
                opened_program = null;
            }
            //dataType: dataType
        });

    }


    function NewProgram(){
        $.ajax({
            url: "/controller/create_program",
            //data: data,
            success: function(e){
                console.log(e)
                load_progam(e.program_id);
                table_program.replaceData("/controller/get_programs");
            },
            //dataType: dataType
        });
    }


    $('#program_step_editor').on('submit', function(e) {
        e.preventDefault();
        var data = {};
        $("#program_step_editor :input").serializeArray().map(function(x){data[x.name] = x.value;});
        console.log(data, e);


        $.ajax({
            url: "/controller/edit_program/"+opened_program+'/'+data.step_number+'/',
            data: data,
            success: function(e){
                load_progam(opened_program);
            },
            //dataType: dataType
        });

    });


    var table_program = new Tabulator("#program_table", {
        layout:"fitColumns",
        columns:[
            {title:"Id", field:"_id.$oid", width:20},
            {title:"Vytvořeno", field:"created", width: 150},
            {title:"Název", field:"name", width: 150},
            {title:"Autor", field:"author_name", width: 100},
            {title:"Postup", field:"job", formatter:function(cell, formatterParams){
                var value = cell.getValue();
                //console.log(value);
                text = ""
                length = 0
                for(i in value){
                    var v = value[i];
                    if(i > 0){text += " > "}
                    text += v['operation']
                    length += Number(v['duration'])
                }
                
                return text + " ("+length+" s)";
                
            }},
            ],
        rowDblClick:function(e, row){
            console.log(row);
            load_progam(row._row.cells[0].value);
        },
    });
    table_program.replaceData("/controller/get_programs");


    source_position_msg.subscribe(function(msg) {
      $("#source_position_val").html(msg.range.toFixed(2));
    });

    distance_msg.subscribe(function(msg) {
      $("#distance_val").html(msg.range.toFixed(2));
    });


    door_msg.subscribe(function(msg) {
      $(".door_card").removeClass(["bg-secondary", "bg-danger"]);
      console.log(msg)
      if(Number(msg.data)){
        $("#door_val").html("Otevřeno");
        $(".door_card").addClass("bg-danger");

      }else{
        $("#door_val").html("Zavřeno");
        // $(".door_card").addClass("bg-secondary");
      }
    });


    var motor_cmd = new ROSLIB.Topic({
        ros: ros,
        name: 'motor_cmd',
        messageType: 'std_msgs/String'
    });

    function send_motor_cmd(data){
        var msg = new ROSLIB.Message({
          data: data
        });
        motor_cmd.publish(msg);
    }



    function queue_actual_program(){
        $.ajax({
            url: "/controller/queue_program/"+opened_program,
            success: function(e){
                console.log(e);
            },
        });
    }





    var table_jobs = new Tabulator("#job_table", {
        layout:"fitColumns",
        columns:[
            {title:"Id", field:"_id.$oid", width:20},
            {title:"Vytvořeno", field:"added", width: 150},
            {title:"Stav", field:"status", width: 100},
            {title:"Postup", field:"job", formatter:function(cell, formatterParams){
                var value = cell.getValue();
                //console.log(value);
                text = ""
                length = 0
                for(i in value){
                    var v = value[i];
                    if(i > 0){text += " > "}
                    text += v['operation']
                    length += Number(v['duration'])
                }
                
                return text + " ("+length+" s)";
                
            }},
            {title:"Název", field:"name", width: 150},
            {title:"Autor", field:"author_name"},
            {title:"Spustil", field:"run_author"},
            {title:"pin", field:"run_key", width: 55},
            ],
        rowDblClick:function(e, row){
            console.log(row);
            load_progam(row._row.cells[0].value);
        },
    });
    table_jobs.replaceData("/controller/get_jobs");


</script>

{% end %}
