<!DOCTYPE html>
<html lang="en" style="height: 100%; width: 100%;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-icons-1.4.0/bootstrap-icons.css">
    <script src="/static/roslib.min.js"></script>

    <script src="/static/jquery-3.6.0.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/moment-with-locales.min.js"></script>

    <meta name="theme-color" content="#7952b3">
    <style type="text/css">

.danger_body {
  background-color: black !important;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-color: #212529;
  }
  50% {
    background-color: #822525;
  }
  100% {
    background-color: #212529;
  }
}

      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
      
      /*
       * Globals
       */


      /* Custom default button */
      .btn-secondary,
      .btn-secondary:hover,
      .btn-secondary:focus {
        color: #333;
        text-shadow: none; /* Prevent inheritance from `body` */
      }


      /*
       * Base structure
       */

      body {
        text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
        box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
      }

      .cover-container {
        /*max-width: 42em;*/
      }


      /*
       * Header
       */

      .nav-masthead .nav-link {
        padding: .25rem 0;
        font-weight: 700;
        color: rgba(255, 255, 255, .5);
        background-color: transparent;
        border-bottom: .25rem solid transparent;
      }

      .nav-masthead .nav-link:hover,
      .nav-masthead .nav-link:focus {
        border-bottom-color: rgba(255, 255, 255, .25);
      }

      .nav-masthead .nav-link + .nav-link {
        margin-left: 1rem;
      }

      .nav-masthead .active {
        color: #fff;
        border-bottom-color: #fff;
      }


      .form-control, .form-control:disabled{
        background-color: gray;
        border: none;
        padding: .1rem .4rem;
      }



    </style>

<script type="text/javascript">
  
  var last_program_status = null;

</script>

    {% block head %}{% end %}



</head>
<body class="d-flex h-100 text-center text-white" style="background-color: #212529;">
</div>



<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0" onClick="window.location.reload();">IRRADROOM <i class="bi bi-circle" id="connection_icon"></i></h3> <span class="text-muded small text-sm clock" style="color: gray;">2021-03-00 00:00:00</span>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" href="#" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="home" aria-selected="true">Domů</a>
        <a class="nav-link" href="#program" data-bs-toggle="tab" data-bs-target="#program" role="tab" aria-controls="program" aria-selected="false">Program</a>
        <a class="nav-link" href="#about" data-bs-toggle="tab" data-bs-target="#about" role="tab" aria-controls="about" aria-selected="false">O zařízení</a>
      </nav>
    </div>
  </header>

  <main class="px-3">

    {% block content %}{% end %}

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row row-cols-4 g-2">

        <div class="col">
          <div class="card text-white bg-secondary mb-3 prog_card">
            <div class="card-header">
              <b>Program</b>
            </div>
            <div class="card-body">
              <span id="prog_val">---</span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
              <b>Zářič</b>
            </div>
            <div class="card-body">
              Zavřeno<br>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card door_card text-white bg-secondary mb-3">
            <div class="card-header">
              <b>Dveře</b>
            </div>
            <div class="card-body">
              <span id="door_val">---</span>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card text-white bg-secondary mb-3">
            <div class="card-header">
              <b>Vzdálenost stolu</b>
            </div>
            <div class="card-body"><span id="distance_val">---</span> cm
            </div>
          </div>
        </div>




      </div></div>
      <div class="tab-pane fade" id="program" role="tabpanel" aria-labelledby="program-tab">      <!-- PROGRAM --- začátek -->
        
        <div class="row row-cols-3 g-4 program_input_div">
          <div class="col" style="width: initial;">
            <h4 class="text-start"><i class="bi bi-lock"></i> Pin programu:</h4>
            <table>
              <tr>
                <td colspan="3"><input type="text" name="program_run_key" id="program_run_key" class="form-control mb-2 mt-2" disabled></td>
              </tr>
              <tr>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(1)"><b>1</b></button></td>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(2)"><b>2</b></button></td>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(3)"><b>3</b></button></td>
              </tr>
              <tr>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(4)"><b>4</b></button></td>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(5)"><b>5</b></button></td>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(6)"><b>6</b></button></td>
              </tr>
              <tr>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(7)"><b>7</b></button></td>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(8)"><b>8</b></button></td>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(9)"><b>9</b></button></td>
              </tr>
              <tr>
                <td><button class="btn pin_buttons btn-secondary btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write(0)"><b>0</b></button></td>
                <td><button class="btn pin_buttons btn-danger btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write_back()"><i class="bi bi-arrow-left-circle"></i></button></td>
                <!-- <td><button class="btn btn-secondary btn-lg p-3 px-4" style="" onclick="program_pin_write_clear()">X</button> </td> -->
                <td><button class="btn pin_buttons btn-success btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="program_pin_write_done()"><i class="bi bi-play-circle"></i></button> </td>
              </tr>
            </table>
          </div>






          <div class="col text-start">  <!-- Sloupec DVA -->


            <div  class="col text-start" id="program_info_bad" style="display: none;">
              <div class="card bg-danger">
                <div class="card-body"> Tento pin nebyl nalezen. Zkontrolujte jeho správnost a existenci ve webovém rozhraní. </div>
              </div>
            </div>

            <div class="program_info_div"  style="display: none; overflow: scroll;"> 

              <div class="mb-1">
                <label class="form-label">Název programu:</label>
                <input type="text" class="form-control" id="program_info_name" disabled>
              </div>

              <div class="mb-1">
                <label class="form-label">Autor programu / Spustil</label>
                <input type="text" class="form-control" id="program_info_author" disabled>
              </div>

              <!-- <div class="mb-1">
                <label class="form-label">Spustil</label>
                <input type="text" class="form-control" id="program_info_author_run" disabled>
              </div> -->

              <div class="mb-1">
                <label class="form-label">Odhad délky</label>
                <input type="text" class="form-control" id="program_info_duration" disabled>
              </div>


              <div class="mb-1">
                <label class="form-label">Kroky</label>
                <div id="program_info_steps" class="form-control"></div>
              </div>

              <div>
                <button class="btn btn-success btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="run_program()"><i class="bi bi-play-circle"></i> Spustit program </button> 
              </div>
            </div>

            <div id="program_steps_div" style="display: none">
            <h4>Program:</h4>
            <b id="program_steps_name"></b>
            <ol id="program_steps_ol">
            </ol>
            </div>

          </div>
          <div  class="col text-start position-relative">

            <div class="position-absolute bottom-0 w-100">
              <button class="btn btn-danger btn-lg p-3 px-4" style="font-size: 130%; width: 100%" onclick="stop_program()"><i class="bi bi-stop-circle-fill"></i> Stop</button> 
            </div>
            <div class="program_status_div">
              <div class="mb-1 bg-primary h-80 w-100">
              </div>

              <div>
                <h4>Program je spuštěn</h4>
                <br>
                <div class="d-flex justify-content-center">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                  </div>
                </div>
                <br>
                <br>
                Krok <span class="current_job_step"></span><br>
                <span class="current_job_msg"></span><br>
                Čas běhu: <span class="current_job_time"></span> s / <span class="current_job_total_time"></span> s (odhad)<br>
              </div>
            </div>
          </div>
        </div>
      </div>                                                                                      <!-- Program konec -->
      <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">          <!-- ABOUT --- zacatek -->
        <div class="row row-cols-2 g-4">
          <div class="col">
            <h3>IRRADROOM01</h3>
            <p>
              Ovládací systém pro ozařovnu ODZ UJF AVČR. 
            </p>
            <p>
              Návod k použití najdete na adrese v QR kódu v pravé části terminálu.
            </p>
            <p>
            </p>

            <img style="width: 75%;" src="/static/logo_UST_small.png"></img>
          </div>
          <div  class="col">
            <img src="/static/qr_github.png"></img>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="mt-auto text-white-50">
    Vyvinuto firmou <b>UST.cz</b> &#183; 2021
  </footer>
</div>



  <script type="text/javascript">
    var ros = new ROSLIB.Ros();

    ros.on('connection', function() {
      console.log('Connected to websocket server.');
      $("#connection_icon").removeClass(['bi-circle', 'bi-x-circle', 'bi-check2-circle']);
      $("#connection_icon").addClass('bi-check2-circle');
    });

    ros.on('error', function(error) {
      console.log('Error connecting to websocket server: ', error);
      $("#connection_icon").removeClass(['bi-circle', 'bi-x-circle', 'bi-check2-circle']);
      $("#connection_icon").addClass('bi-x-circle');
    });

    ros.on('close', function() {
      console.log('Connection to websocket server closed.');
      $("#connection_icon").removeClass(['bi-circle', 'bi-x-circle', 'bi-check2-circle']);
      $("#connection_icon").addClass('bi-x-circle');
    });

    ros.connect("ws://"+document.location.host+"/ws");

    var source_position_msg = new ROSLIB.Topic({
      ros : ros,
      name : '/source_position',
      messageType : 'sensor_msgs/Range'
    });
    
    source_position_msg.subscribe(function(msg) {
      $("#source_position_val").html(msg.range.toFixed(2));
    });


    var distance_msg = new ROSLIB.Topic({
      ros : ros,
      name : '/distance',
      messageType : 'sensor_msgs/Range'
    });
    
    distance_msg.subscribe(function(msg) {
      $("#distance_val").html(msg.range.toFixed(2));
    });


    var door_msg = new ROSLIB.Topic({
      ros : ros,
      name : '/door_status',
      messageType : 'std_msgs/Int8'
    });
    
    door_msg.subscribe(function(msg) {
      $(".door_card").removeClass(["bg-secondary", "bg-danger"]);
      if(Number(msg.data)){
        $("#door_val").html("Otevřeno <i class='bi bi-door-open'></i>");
        $(".door_card").addClass("bg-danger");

      }else{
        $("#door_val").html("Zavřeno");
        $(".door_card").addClass("bg-secondary <i class='bi bi-door-closed'></i>");
      }
    });


    var program_status = new ROSLIB.Topic({
      ros : ros,
      name : '/program_status',
      messageType : 'irradroom_cmake/msg/ProgramStatus'
    });
    
    program_status.subscribe(function(msg) {
      //console.log(msg)

      // Pri zmene statusu  
      if(last_program_status != msg.program_status){
        last_program_status = msg.program_status;

        if(msg.program_status > 0){
          console.log("Program je spusten");

            $(".prog_card").addClass("bg-success");
            $('.program_info_div').hide();
            $('#program_steps_div').show();
            $('.pin_buttons').attr('disabled', 'true');
            $('.program_status_div').show();

        } else {
        // Pri ukonceni programu

            $("#prog_val").html("Vypnuto");
            $(".prog_card").removeClass(["bg-success"]);

            $('.pin_buttons').removeAttr('disabled');   // Zapnout tlacitka
            $('.program_status_div').hide();            // Schovat status programu
            $("#program_steps_div").hide();

        }
      }

      if(msg.program_status > 0){
          if(msg.step >= 0){
              step = " (krok "+ (msg.step) +")"
          }else{
              step = ''
          }

          $("#prog_val").html("Beží" + step );
          $('.current_job_step').text(msg.step);
          $('.current_job_msg').text(msg.message);
          $('.current_job_time').text(msg.duration);
      }else{

      }
    });






    function program_pin_write(num){
      $("#program_run_key").val(String($("#program_run_key").val())+String(num));
    }
    function program_pin_write_back(){
      $("#program_run_key").val(String($("#program_run_key").val()).slice(0, -1));
    }
    function program_pin_write_clear(){
      $("#program_run_key").val("");
    }

var program_run_key = null;
var program_data = null;
    function program_pin_write_done(){
      program_run_key = $("#program_run_key").val();

      $("#program_info_bad").hide();
      $(".program_info_div").hide();
      $("#program_steps_div").hide();

      clear_run_data();
      $.ajax({
            url: "/terminal/run_program_from_terminal/" + $("#program_run_key").val() + '/',
            success: function(e){
                console.log(e);
                $("#program_run_key").val('');
                var data = JSON.parse(e);

                if(!Array.isArray(data)){
                  show_run_data(data);
                  $(".program_info_div").show();
                }else{
                  $(".program_info_div").hide();
                  $("#program_info_bad").show();
                }
            },
            error: function(e){
                $("#program_run_key").empty()
                console.log(e);
            }
        });
    }


function clear_run_data(){
  $("#program_info_name").val('');
  $("#program_info_author").val('');
  // $("#program_info_author_run").val('');
  $("#program_info_steps").empty();
}


function show_run_data(data){
  program_data = data;
  $("#program_info_name").val(data.name + " (run: "+ program_run_key +")");
  $("#program_info_author").val(data.author_name + " / " + data.run_author);
  // $("#program_info_author_run").val(data.run_author);
  $("#program_steps_name").html(data.name + " - " + data.run_author);
  $("#program_steps_ol").empty();

  duration_total = 0;
  steps_div = $("#program_info_steps");
  steps_div.empty();
  steps_div.append("Start");
  for(i in data.job){
    var step = data.job[i];
    console.log(i, step);
    steps_div.append(" > " + step.operation + " <span class='text-muted'>("+ step.duration + ")</span>");
    $("#program_steps_ol").append("<li> <span class='text-muted'>"+ duration_total +"s ("+step.duration+"s) </span>" + step.operation +"</li>");
    
    duration_total += Number(step['duration']);
  }
  steps_div.append(" > Konec");

  $("#program_steps_ol").append("<li> <span class='text-muted'>"+ (duration_total) +"s ("+20+"s) </span> Zavřít zářiče </li>");
  $("#program_steps_ol").append("<li> <span class='text-muted'>"+ (duration_total+20) +"s ("+0+"s) </span> Ukončení programu </li>");

  $("#program_info_duration").val(String(duration_total+20) + " s");
  $(".current_job_total_time").html(duration_total+20); 
}


var run_program_srv = new ROSLIB.Service({
  ros : ros,
  name : '/run_program',
  serviceType : 'irradroom_cmake/RunProgram'
});


function run_program(){
  var request = new ROSLIB.ServiceRequest({
    run_id: program_data._id.$oid,
    run_key: String(program_run_key)
  });

  run_program_srv.callService(request, function(result) {
    console.log('Result for service call on ', result);
  });
}


function stop_program(){
  var request = new ROSLIB.ServiceRequest({
    run_id: '',
    run_key: ''
  });

  run_program_srv.callService(request, function(result) {
    console.log('Result for STOP program');
  });
}


// hodiny
  function update_time() {
    $('.clock').html(moment().locale("cs").format('D. MMMM YYYY H:mm:ss'));
  }
  setInterval(update_time, 1000);
  


  </script>


</body>
</html>
